%p#notice= notice

%p
  %b User:
  = @answer.user
%p
  %b Question:
  = @answer.question
%p
  %b Assignment:
  = @answer.assignment
%p
  %b Content:
  = @answer.content

= link_to 'Edit', edit_answer_path(@answer)
\|
= link_to 'Back', answers_path
